@media print {
	h1, .clarification {
		display: none;
	}
}

@font-face {
	font-family: LibreBaskerville;
	src: url("LibreBaskerville-Regular.otf") format("opentype");
}

@font-face {
	font-family: TexGyrebonum;
	font-weight: bold;
	src: url("texgyrebonum-regular.otf") format("opentype");
}

.items, .item, p {
	-webkit-print-color-adjust: exact;
}

.items {
	width: 800px;
}
.items:after {
	clear: both;
	display: block;
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	content: "";
}
.item {
	float: left;
	width: 380px;
	margin: 5px;
	padding: 5px;
	background: black url('bg_front.jpg') !important;
    page-break-inside:avoid;

}
h1, h2 {
	font-family: Pala;
}
.item h2 {
	margin: 5px;
	margin-bottom: 10px;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}
.flavor, .effect {
	height: 70px;
	line-height: 15px;
	font-size: 12px;
	overflow: hidden;
	padding: 5px;
	margin: 5px;
	font-family: Pala;
	position: relative;
}
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.empty {
	visibility: hidden;
}

.special {
	font-style: italic;
}

.clarification {
	width: 760px;
}

.effect, .flavor  {
	background-color: rgba(255, 255, 255, 0.65);
}
.effect {
	border: 2px solid #402000;
	margin-top: 15px;
	-moz-box-shadow:    inset 0 0 10px #402000;
	-webkit-box-shadow: inset 0 0 10px #402000;
	box-shadow:         inset 0 0 10px #402000;
}
.effect:after {
	content: "effect";
	display: block;
	position: absolute;
	bottom: 0px;
	right: 5px;
	color: #402000;
	text-transform: uppercase;
	font-size: 10px;
}

.bow , .sling {
	border: 2px solid #004000;
	-moz-box-shadow:    inset 0 0 5px #004000;
	-webkit-box-shadow: inset 0 0 5px #004000;
	box-shadow:         inset 0 0 5px #004000;
}
.bow:after {
	content: "bow";
	display: block;
	position: absolute;
	bottom: 0px;
	right: 5px;
	color: #004000;
	text-transform: uppercase;
	font-size: 10px;
}
.sling:after {
	content: "Sling";
	display: block;
	position: absolute;
	bottom: 0px;
	right: 5px;
	color: #004000;
	text-transform: uppercase;
	font-size: 10px;
}

.blunt, .blade, .primal {
	border: 2px solid #400000;
	-moz-box-shadow:    inset 0 0 5px #400000;
	-webkit-box-shadow: inset 0 0 5px #400000;
	box-shadow:         inset 0 0 5px #400000;
}
.blunt:after {
	content: "blunt";
	display: block;
	position: absolute;
	bottom: 0px;
	right: 5px;
	color: #400000;
	text-transform: uppercase;
	font-size: 10px;
}
.blade:after {
	content: "blade";
	display: block;
	position: absolute;
	bottom: 0px;
	right: 5px;
	color: #400000;
	text-transform: uppercase;
	font-size: 10px;
}
.primal:after {
	content: "Primal";
	display: block;
	position: absolute;
	bottom: 0px;
	right: 5px;
	color: #400000;
	text-transform: uppercase;
	font-size: 10px;
}

.arcane, .psionic, .divine {
	border: 2px solid #100040;
	-moz-box-shadow:    inset 0 0 5px #100040;
	-webkit-box-shadow: inset 0 0 5px #100040;
	box-shadow:         inset 0 0 5px #100040;
	
}
.arcane:after {
	content: "arcane";
	display: block;
	position: absolute;
	bottom: 0px;
	right: 5px;
	color: #100040;
	text-transform: uppercase;
	font-size: 10px;
}
.psionic:after {
	content: "psionic";
	display: block;
	position: absolute;
	bottom: 0px;
	right: 5px;
	color: #100040;
	text-transform: uppercase;
	font-size: 10px;
}
.divine:after {
	content: "Divine";
	display: block;
	position: absolute;
	bottom: 0px;
	right: 5px;
	color: #100040;
	text-transform: uppercase;
	font-size: 10px;
}