@media print {
	h1, .clarification {
		display: none;
	}
}

@font-face {
	font-family: LibreBaskerville;
	src: url("LibreBaskerville-Regular.otf") format("opentype");
}

@font-face {
	font-family: TexGyrebonum;
	font-weight: bold;
	src: url("texgyrebonum-regular.otf") format("opentype");
}

.items, .item, p {
	-webkit-print-color-adjust: exact;
}

.items {
	width: 800px;
}
.items:after {
	clear: both;
	display: block;
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	content: "";
}
.item {
	float: left;
	width: 380px;
	margin: 5px;
	padding: 5px;
	background-color: #f0f0f0 !important;
    page-break-inside:avoid;
}
h1, h2 {
	font-family: LibreBaskerville;
}
.item h2 {
	margin: 5px;
	margin-bottom: 10px;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}
.flavor, .effect {
	height: 70px;
	line-height: 15px;
	font-size: 12px;
	overflow: hidden;
	padding: 5px;
	margin: 5px;
	font-family: TexGyrebonum;
	position: relative;
}

.special {
	font-style: italic;
}

.clarification {
	width: 760px;
}

.effect {
	background-color: #ffffff !important;
}
.effect:after {
	content: "effect";
	display: block;
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: #555555;
	text-transform: uppercase;
	font-size: 10px;
}

.bow {
	background-color: #e0ffe0 !important;
}
.bow:after {
	content: "bow";
	display: block;
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: #005500;
	text-transform: uppercase;
	font-size: 10px;
}

.blunt {
	background-color: #ffe0e0 !important;
}
.blunt:after {
	content: "blunt";
	display: block;
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: #550055;
	text-transform: uppercase;
	font-size: 10px;
}

.blade {
	background-color: #ffe0ff !important;
}
.blade:after {
	content: "blade";
	display: block;
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: #550055;
	text-transform: uppercase;
	font-size: 10px;
}

.arcane {
	background-color: #e0e0ff !important;
}
.arcane:after {
	content: "arcane";
	display: block;
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: #000055;
	text-transform: uppercase;
	font-size: 10px;
}

.psionic {
	background-color: #e0ffb0 !important;
}
.psionic:after {
	content: "psionic";
	display: block;
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: #226600;
	text-transform: uppercase;
	font-size: 10px;
}

.divine {
	background-color: #ffffd0 !important;
}
.divine:after {
	content: "Divine";
	display: block;
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: #777700;
	text-transform: uppercase;
	font-size: 10px;
}

.primal {
	background-color: #d0a0ff !important;
}
.primal:after {
	content: "Primal";
	display: block;
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: #220066;
	text-transform: uppercase;
	font-size: 10px;
}

.sling {
	background-color: #d0ffff !important;
}
.sling:after {
	content: "Sling";
	display: block;
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: #005555;
	text-transform: uppercase;
	font-size: 10px;
}